@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: transparent;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #8bc34a;
    border-radius: 8px;
    overflow: hidden;
    padding: 18px;
}

.display {
    width: 100%;
    height: 100px;
    background-color: #395f0d;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 0 14px;
    border-radius: 4px;
    word-break: break-all;
    overflow-x: hidden;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
}

button {
    background: #5b9617;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    outline: none;
}

button:hover {
    background-color: #395f0d;
}

.big {
    grid-column: 1/3;
}

.bold {
    font-weight: 600;
}
